h1 {
  colour: blue;
  font-family: sans-serif;
  text-align: left;
  background-color: gray;
}
h2 {
  color: green;
  font-size: 45px;
  font-style: italic;
  text-align: center;
  background-color: white;

}
p {
  font-family: monospace;

}
ul {
  line-height: 40px;
}
